html,body {
	margin:0;
	width:100%;
	height:100%;
	font-family:sans-serif;
	font-size:0.9rem;
}

/* Global GUI layout */
#toolbar {
	position:absolute;
	top:0;
	left:0;
	padding:10px;
	width: calc( 100% - 20px );
	height: calc( 5rem );
	background-color:#333;
	color:white;
}
#subjects {
	position:absolute;
	top:5rem;
	left:0;
	height:calc( 100% - 8rem );
	width:300px;
    background-color:#ddd;
	overflow-y:scroll;
}
#viewer {
	position:absolute;
	top:5rem;
	left:300px;
	width: calc( 100% - 300px );
	height:calc( 100% - 8rem );
	background-color:#fffafa;
}
#overlay {
	position:absolute;
	top:0;
	left:0;
	padding:5px;
	width: calc( 100% - 10px );
	height: calc( 100% - 10px );
	color:white;
	z-index:10;
    pointer-events:none;
}
#container {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#fee;
}
#footer {
	position:absolute;
	bottom:0;
	left:0;
	padding:5px;
	width: calc( 100% - 10px );
	height: calc( 3rem - 10px );
	color:white;
	background-color:#333;
	text-align:right;
}

/* Table */
#qctable
{
	width:300px;
	color:black;
	border-collapse:collapse;
	line-height:125%;
	font-size:0.9rem;
}
#qctable td, #qctable th 
{
	border:1px solid grey;
}
#qctable th 
{
	text-align:left;
	background-color:#ccc;
	border-bottom:1px solid grey
}
#qctable tr:nth-child(even)
{
    background-color:#eee;
}
#qctable tr:nth-child(odd)
{
    background-color:#ddd;
}

/* App name */
h1 {
	font-family:serif;
	display:inline;
	color:white;
}

.selected {
	background-color:lightBlue !important;
	color:black;
}
.button, .menu {
	padding:5px;
	border:thin solid lightBlue;
}
.button:hover, .menu:hover {
	background-color:lightGrey;
	cursor:pointer;
}
.select .button {
	border:0;
}
.select {
	margin:5px;
	padding:5px 0px;
	border:thin solid lightBlue;
}

/* Login
-----------------------------------------------------------------------------*/
#login {
	/*text-align:center;*/
	display:inline;
}
#login * {
	width:auto;
	display:inline;
	vertical-align:middle;
	text-decoration:none;
}
/*
#login .hidden {
	display:none !important;
}
*/
.loginbox {
	border:1px solid lightGrey;
	position:absolute;
	top:10px;
	left:-150px;
	background-color:white;
	padding:20px;
	max-width:80%;
	margin-left: 50%;
    width: 300px;
    line-height:20px;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    z-index:20;
}
.loginbox * {
	color:black;
}
.loginbox #username,
.loginbox #e-mail,
.loginbox #password,
.loginbox #repassword,
.loginbox #registerLink,
.loginbox #remind,
.loginbox #warning {
	display:block;
}
.loginbox #username,
.loginbox #e-mail,
.loginbox #password,
.loginbox #repassword {
	width:90%;
}